body{
    background-image: url(ms.jpg);
    background-size: cover;

}
div{
    font-size: 150%;
    color: #fff;

}
tr, th {
    border: 2px;
}

     button{
        display: inline-block;
        padding: 1rem 1.5rem;
         background: transparent;
         backdrop-filter: blur(20px);
        border-radius: 1rem;
         box-shadow: 0 0 1rem var(--main-color);
       font-size: 1rem;
       color: var(--second-bg-color);
        letter-spacing: .1rem;
        font-weight: 200;
        transition: .6s ease;
        margin-top: 1rem;
        cursor: pointer;}
        .pic{
            border-radius: 20px;
        }
         img:hover{
            box-shadow: 0 0 2px 1px red;
            border: 8px solid navy;
            
        }

     